html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
}
html {
	height: 100%;
}
body {
	line-height: 1;
	background: #333 url(../image/mask.png);
	height: 100%;
	font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
	font-weight: normal;
}
a{
	text-decoration: none;
}
.clr { clear:both; height:0; overflow:hidden; }
.clr_after { height:1%; }
.clr_after:after { clear:both; display:block; height:0; visibility:hidden; content:"."; }

/* = widget.dialog = */
.dialog {
    background: white;
    border-radius: 2px;
    position: fixed;
    color: #333;
    display: none;
    top: 0;
    left: 0;
    -webkit-box-shadow: 1px 1px 5px #000;
    -moz-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 5px #000;
}

.dialog_bar {
	height: 38px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	position: relative;
	border-bottom: 1px #333 solid;
}

.dialog_bar > .dialog_close_btn {
	height: 38px;
	width: 38px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent url(../image/ic16_close.png) center center no-repeat;
	border-left: 1px #444 solid;
}

.dialog_bar > .dialog_title {
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #F2F2F2;
	text-shadow: 0 -1px 0px black;
	background: #333 url(../image/mask.png);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 0;
	text-align: center
}

.dialog_container {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
}

.dialog_header {
    border-bottom: 1px #ccc solid;
    padding: 10px;
    height: 32px;
}

.dialog_body {
    padding: 10px 10px;
    overflow-y: auto;
		background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F6), to(#EDEDED));
}
.dialog_body .mochi_entry.widget {
	width: 300px;
}
.dialog_footer {
    height: 59px;
    text-align: right; 
    border-top: 1px #ccc solid; 
    clear:both; 
    padding: 10px;
    height: 32px; 
}

.dialog_block {
    font-size: 12px;
    line-height: 1.6em;
    word-wrap: break-all; 
    white-space:normal;
}

.dialog_body h3 {
	margin: 0;
	font-size: 15px;
	padding: 2px 0 4px 10px;
	text-shadow: 0 1px 1px white;
}

.dialog_block p {
    padding-left: 10px;
    margin: 5px 0;
}

.dialog_block p * {
    word-wrap: break-all; 
    white-space:normal;
}

/* scrollbar */
#scrollbar_container {  
	position:relative;  
} 
 
.scrollbar_track {  
	position:absolute;  
	top:0;  
	right:0;  
	height:100%;  
	width:10px;  
	cursor:pointer;
} 

.scrollbar_track .scrollbar_slot {
	background-color: rgba(200,200,200,0.1);  
	border-radius: 5px;
	height:100%;  
	position:relative;  
}

.scrollbar_track:hover .scrollbar_slot {  
	background-color: rgba(80,80,80,0.1);  
}

.scrollbar_handle {  
	width:10px;  
	background-color: gray;  
	cursor:pointer;  
	border-radius: 5px;  
	opacity:0.5;  
	min-height: 100px;
	position: absolute;
	-webkit-transition: opacity 0.2s ease-in;
} 

.scrollbar_track.active .scrollbar_handle, .scrollbar_handle:hover {
	opacity:0.9;  
}

.scrollbar_content {  
	overflow:hidden;  
}
