#container {
	width: 980px;
	margin: 0 auto;
	border: 4px solid #3C9DD0;
  border-radius: 5px 5px 5px 5px;
	min-height: 680px;
	
}
#toolbar {
	background-color: #bbfb9f;
	float: left;
	width: 160px;
	padding: 20px 0;
	list-style: none;
	border-right: 4px solid #3c9dd0;
	min-height: 640px;
}
#toolbar a {
	display: block;
	position: relative;
	padding-left: 70px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
#toolbar .toolname {
	font-size: 18px;
}
#toolbar a .mask {
	position: absolute;
	margin-left: -70px; 
	width: 100%;
	height: 55px;
	borderï¼š2px solid white;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
}
#toolbar a:hover > .mask {
	opacity: 1;
}
#toolbar a:visited {
	background-color: #64aad0;
}
.avatar {
	background: transparent url("../image/avatar_icon.png") 0 0 no-repeat;
}
#toolbar .blah_list {
	background: transparent url("../image/blah_icon.png") 0 0 no-repeat;
}
#toolbar .friend_list {
	background: transparent url("../image/friends_icon.png") 0 0 no-repeat;
}
#toolbar .search {
	background: transparent url("../image/search_icon.png") 0 0 no-repeat;
}
#sidebar {
	float: left;
	width: 300px;
	min-height: 680px;
	border-right: 4px solid #3C9DD0;
}
#sidebar .control_nav {
	padding: 15px 15px 25px 15px; 
}
#sidebar #filter {
	float: right;
	background-color: #f2f2f2;
	font-size: 14px; 
	padding-left: 8px;
	border: 1px  #00a876 solid;
	width: 150px;
	height: 30px;
}
#sidebar .blah_list {
	background-color: #aaffcc;
	min-height: 610px;
}
#sidebar .blah_preview {
	border-top: 2px solid #3c9dd0;
	padding: 5px;
}
.creator {
	float: left;
	width: 48px;
	height: 48px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 50px;
}
.firstblah {
	padding: 30px 5px 5px 30px;
	font-size: 16px;
	color: #3914af;
}
#sidebar .metainfo {
	padding: 10px 10px 20px 10px;
	color: black;
}
#sidebar .mark_star {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: transparent url("../image/star16_cold.png") no-repeat 0 0;
	margin-left: 50px;
}
#content {
	float: left;
	width: 498px;
}
#content .firstblood {
	padding: 10px;
	background-color: #d9ff7e;
}
#content .control_nav {
	float: right;
	padding: 5px 20px;
}
#content .control {
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background: transparent no-repeat 0 0;
}
#content .reply {
	background: url("../image/reply.png");
}
#content .fav{
	background: url("../image/fav_cold.png");
}
#content .share{
	background: url("../image/share.png");
}
#content .participators {
	margin-top: 24px;
}
#content .user {
	background-color: #ddd;
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	border: 1px #f2f2f2 solid;
	border-radius: 5px;
	box-shadow: 0 0 1px #f2f2f2;
	margin-right: 5px;
}
#content .username {
	display: none;
}
#content .participators .more {
	float: left;
	background: transparent url("../image/arrow.png")
}
#content .discuss {
	background: #c9f76f;
	border-top: 2px #679b00 dashed;
	min-height: 552px;
}
#content .discuss .item {
	padding: 5px;
	border-bottom: 1px #aaa solid;
}
#content .discuss .post {
	padding: 10px;
	margin-left: 30px;
	font-size: 14px;
	color: #4512ae;
	font-family: serif,tahoma,arial; 
} 










