#container {
	padding: 10px 0;
}
#container > h1 {
	position: absolute;
	top: 50px;
	margin-left: -100px;
	left: 50%;
	padding: 0;
	width: 200px;
	text-align: center;
	font-size: 42px;
	text-shadow: 0 -1px 1px #333;
	font-family: Impact, Charcoal, sans-serif;
}
.panel {
	background: rgba(255,255,255,0.1);
	border: 1px #666 solid;
	box-shadow: 0 0 10px #222;
}
#welcome {
	position: absolute;
	width: 920px;
	top: 50%;
	left: 50%;
	margin-top: -200px; 
	margin-left: -470px; 
	border-radius: 4px;
	padding: 10px;
}
#welcome .box {
	padding: 10px 0;
	text-align: right;
}
#welcome .box input {
	margin: 0 3px;
}
#welcome .signup_box {
	display: none;
}
#welcome .welcome_mode_switch {
	padding: 5px 0;
	color: #ddd;
}

#main {
	width: 1020px;
	display: none;
	margin: 0 auto;
  border-radius: 5px;
	min-height: 640px;
}

#toolbar {
	float: left;
	width: 200px;
}
#toolbar .profile {
	text-shadow: 0 1px 1px #111;
	height: 48px;
	margin: 0;
	padding: 8px 0 8px 16px;
}
#toolbar .profile .avatar {
	float: left;
	color: white;
	border-top: 1px solid #444;
	border-right: 1px solid #444;
	border-left: 1px solid #444;
	border-bottom: 1px solid #888;
}
#toolbar .profile span {
	display: inline-block;
	line-height: 48px;
	margin-left: 10px;
	color: white;
}
#toolbar_items {
	list-style: none;
}
#toolbar_items a {
	display: block;
	padding-left: 70px;
	height: 44px;
	line-height: 44px;
	color: #BBB;
	font-size: 14px;
	background-position: 16px center;
	background-repeat: no-repeat;
	font-weight: bold;
	position: relative;
	border-top: 1px solid #666;
	border-bottom: 1px solid #444;
	text-shadow: 0 1px 1px #111;
}
#toolbar_items a.selected {
	color: white;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	background-color: rgba(0,0,0,0.3);
}
#toolbar_items a:hover {
	color: white;
}
#toolbar_items a.logo {
	border-bottom: none;
}
.avatar {
	background: transparent url("../image/default_avatar.png") 0 0 no-repeat;
	background-size: contain;
	width: 48px;
	height: 48px;
	border-radius: 4px;
}
#toolbar .blah {
	background-image:  url("../image/ic32_blob.png");
}
#toolbar .friend {
	background-image:  url("../image/ic32_users.png");
}
#toolbar .search {
	background-image:  url("../image/ic32_search.png");
}
#sidebar {
	float: left;
	width: 300px;
	height: 640px;
	font-size: 14px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#FAFAFA));
}
#sidebar .control_nav {
	padding: 5px; 
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F6), to(#EDEDED));
}
#sidebar .blah_view_button_group {
	float: right;
}
#sidebar .blah_view_button_group .mochi_button_group_item {
	text-indent: -99999px;
	overflow: hidden;
	min-width: 0;
	box-shadow: none;
}
#sidebar .control_nav .mochi_button {
	box-shadow: none;
}
#sidebar .add_btn::after {
	background-image: url(../image/ic16_add.png);
}
#sidebar .all_blah::after {
	background-image: url(../image/ic16_list.png);
}
#sidebar .pop_blah::after {
	background-image: url(../image/ic16_popular.png);
}

#sidebar .search_btn::after {
	background-image: url(../image/ic16_find.png);
}
#sidebar .search_result li{
	display: none;
}
#sidebar .blah_list {
	background-color: #fff;
	height: 600px;
	overflow: auto;
}
#sidebar .blah {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	padding: 5px 8px;
	min-height: 70px;
	list-style: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#FAFAFA));
	cursor: pointer;
}
#sidebar .blah.selected {
	background: -webkit-linear-gradient(top,#93B2D3 2%,#3099E7 4%,#2457DA 100%);
	background: -webkit-linear-gradient(top, #3099E7 2%, #2457DA 100%);
	border-top: 1px solid #3099E7;
}
#sidebar .blah:first-child {
	border-top: 1px solid #ccc;
}
#sidebar .avatar {
	float: left;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #777;
}
#sidebar .blah_body {
	margin-left: 56px;
	color: #333;
	text-shadow: 0 -1px 1px white;
}
#sidebar .blah.selected .blah_body {
	color: white;
	text-shadow: none;
}
#sidebar .blah .time {
	color: #bbb;
	float: right;
}
.creator {
	float: left;
	width: 48px;
	height: 48px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 50px;
}
#sidebar .sidebar_role {
	display: none;
}
#sidebar .blah_b {
	display: block;
}
#content {
	float: left;
	width: 519px;
	height: 640px;
	box-shadow: -1px 0px 10px #333;
	font-size: 14px;
	color: #333; 
	display: none;
	overflow: hidden;
	position: relative;
}
#content .content_inner {
	height: 100%;
}
#content .scrollbar_track {
	z-index: 20;
	margin: 10px 0px;
	width: 10px;
	padding: 0 3px;
}
#content .firstblood {
	padding: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#FAFAFA));
	position: relative;
}
#content .firstblood .name, #content .firstblood .body {
	margin-left: 60px;
}
#content .firstblood .time {
	float: right;
	color: #bbb;
}
#content .control_nav {
	background: url(../image/mask.png);
	border-radius: 2px;
	padding: 3px 6px;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid white;
	position: absolute;
	height: 20px;
	bottom: 10px;
	right: 20px;
}
#content .control {
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	padding: 0 3px;
	opacity: 0.6;
	display: inline-block;
}
#content .control:hover {
	opacity: 1;
}
#content .control:last-child {
	margin-left: 0;
}
#content .reply {
	background-image: url("../image/ic16_reply.png");
}
#content .fav{
	background-image: url("../image/ic16_fav.png");
}
#content .share{
	background-image: url("../image/ic16_share.png");
}
#content .participators {
	margin-top: 24px;
	max-width: 300px;
}
#content .participators .avatar {
	background-color: #ddd;
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	border-radius: 2px;
	margin-right: 5px;
	border:0;
}
#content .username {
	display: none;
}
#content .discuss {
	list-style: none;
}

#content .message {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	padding: 5px 8px;
	min-height: 70px;
	list-style: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#FAFAFA));
}
#content .message:first-child {
	border-top: 1px solid #ccc;
}
#content .avatar {
	float: left;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #777;
}
#content .message_body {
	margin-left: 56px;
	color: #333;
	text-shadow: 0 -1px 1px white;
}
#content .message .time {
	color: #bbb;
	float: right;
}

#content .respond {

}

#content .reply_hint {
	color: #888;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	border: 2px dashed #777;
	margin: 10px;
	cursor: pointer;
	display: block;
}

#content .reply_hint:hover {
	color: #bbb;
}

.avatar.shellex {
	background-image: url(../image/avatar/avatar_sample_1.png);
}
.avatar.julica {
	background-image: url(../image/avatar/avatar_sample_2.png);
}
.avatar.diablo {
	background-image: url(../image/avatar/avatar_sample_3.png);
}
.avatar.huk {
	background-image: url(../image/avatar/avatar_sample_4.png);
}
.avatar.luna {
	background-image: url(../image/avatar/avatar_sample_5.png);
}
.avatar.zora {
	background-image: url(../image/avatar/avatar_zora.png);
}

.editor {
	background: #fafafa;
	padding: 5px;
	display: none;
}

.edior .toolbar {
	list-style: none;
}

.editor .toolbar li {
	display: inline-block;
	margin-right: 2px;
}
.editor .toolbar li.sep {
	border-right: 1px solid #ededed;
	width: 1px;
	height: 26px;
	margin: 2px 6px 2px 3px;
}
.editor .toolbar .mochi_button {
	box-shadow: none;
}
.editor .toolbar .font_size::after {
	background-image: url(../image/ic16_font_size.png);
}
.editor .toolbar .picture::after {
	background-image: url(../image/ic16_picture.png);
}
.editor .toolbar .video::after {
	background-image: url(../image/ic16_video.png);
}
.editor .toolbar .vcard::after {
	background-image: url(../image/ic16_vcard.png);
}
.editor .toolbar .strong::after {
	background-image: url(../image/ic16_strong.png);
}
.editor .toolbar .italic::after {
	background-image: url(../image/ic16_italic.png);
}
.editor .toolbar .underline::after {
	background-image: url(../image/ic16_underline.png);
}
.editor .toolbar .strokeline::after {
	background-image: url(../image/ic16_strokeline.png);
}
.editor .toolbar .olist::after {
	background-image: url(../image/ic16_olist.png);
}
.editor .toolbar .ulist::after {
	background-image: url(../image/ic16_ulist.png);
}
.editor .mochi_textarea {
	width: 100%;
	height: 100px;
}
.dialog_footer {
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F6), to(#EDEDED));
}
