#container {
	width: 1020px;
	margin: 0 auto;
  border-radius: 5px 5px 5px 5px;
	min-height: 680px;
	height: 100%;
	box-shadow: 0 0 10px black;
}
#toolbar {
	background: #333 url(../image/mask.png);
	float: left;
	width: 200px;
	min-height: 680px;
}
#toolbar .profile {
	text-shadow: 0 1px 1px #111;
	height: 48px;
	margin: 0;
	padding: 8px 0 8px 16px;
}
#toolbar .profile .avatar {
	float: left;
	color: white;
	border-top: 1px solid #282828;
	border-right: 1px solid #282828;
	border-left: 1px solid #282828;
	border-bottom: 1px solid #777;
}
#toolbar .profile span {
	display: inline-block;
	line-height: 48px;
	margin-left: 10px;
	color: white;
}
#toolbar_items {
	list-style: none;
	min-height: 640px;
}
#toolbar_items a {
	display: block;
	padding-left: 70px;
	height: 44px;
	line-height: 44px;
	color: #BBB;
	font-size: 14px;
	background-position: 16px center;
	background-repeat: no-repeat;
	font-weight: bold;
	position: relative;
	border-top: 1px solid #555;
	border-bottom: 1px solid #282828;
	text-shadow: 0 1px 1px #111;
}
#toolbar_items a.selected {
	color: white;
	border-top: 1px solid #282828;
	border-bottom: 1px solid #282828;
	background-color: #2e2e2e;
}
#toolbar_items a:hover {
	color: white;
}
#toolbar_items a.logo {
	border-bottom: none;
}
.avatar {
	background: transparent url("../image/default_avatar.png") 0 0 no-repeat;
	background-size: contain;
	width: 48px;
	height: 48px;
	border-radius: 4px;
}
#toolbar .blah {
	background-image:  url("../image/ic32_blob.png");
}
#toolbar .friend {
	background-image:  url("../image/ic32_users.png");
}
#toolbar .search {
	background-image:  url("../image/ic32_search.png");
}
#sidebar {
	float: left;
	width: 300px;
	min-height: 680px;
	border-right: 1px solid #ccc;
}
#sidebar .control_nav {
	padding: 5px; 
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F6), to(#EDEDED));
}
#sidebar .blah_view_button_group {
	float: right;
}
#sidebar .blah_view_button_group .mochi_button_group_item {
	text-indent: -99999px;
	overflow: hidden;
	min-width: 0;
	box-shadow: none;
}
#sidebar .add_btn {
	box-shadow: none;
}
#sidebar .add_btn::after {
	background-image: url(../image/ic16_add.png);
}
#sidebar .all_blah::after {
	background-image: url(../image/ic16_list.png);
}
#sidebar .pop_blah::after {
	background-image: url(../image/ic16_popular.png);
}
#sidebar .blah_list {
	background-color: #fff;
	min-height: 610px;
}
#sidebar .blah {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	padding: 5px 8px;
	min-height: 70px;
	list-style: none;
}
#sidebar .blah:first-child {
	border-top: 1px solid #ccc;
}
#sidebar .avatar {
	float: left;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #777;
}
#sidebar .blah_body {
	margin-left: 56px;
	color: #333;
	text-shadow: 0 -1px 1px white;
}
.creator {
	float: left;
	width: 48px;
	height: 48px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 50px;
}
.firstblah {
	padding: 30px 5px 5px 30px;
	font-size: 16px;
	color: #3914af;
}
#sidebar .mark_star {
	display: inline-block;
	float: right;
	padding: 0 10px 0 0;
	width: 16px;
	height: 16px;
	background: transparent url("../image/star16_cold.png") no-repeat 0 0;
}
#content {
	float: left;
	width: 519px;
	min-height: 680px;
	background-color: #ccc;
}
#content .control_nav {
	float: right;
	padding: 5px 20px;
}
#content .control {
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background: transparent no-repeat 0 0;
}
#content .reply {
	background: url("../image/reply.png");
}
#content .fav{
	background: url("../image/fav_cold.png");
}
#content .share{
	background: url("../image/share.png");
}
#content .participators {
	margin-top: 24px;
}
#content .user {
	background-color: #ddd;
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	border: 1px #f2f2f2 solid;
	border-radius: 5px;
	box-shadow: 0 0 1px #f2f2f2;
	margin-right: 5px;
}
#content .username {
	display: none;
}
#content .participators .more {
	float: left;
	background: transparent url("../image/arrow.png")
}
#content .discuss {
	background: #ccc;
	border-top: 2px #e2e2e2 dashed;
	min-height: 552px;
}
#content .discuss .item {
	padding: 5px;
	border-bottom: 1px #aaa solid;
}
#content .discuss .post {
	padding: 10px;
	margin-left: 30px;
	font-size: 14px;
	color: #4512ae;
	font-family: serif,tahoma,arial; 
} 










